.App {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid #000;
}
.choise {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  padding: 20px 0;
}
.choise > section {
  display: flex;
  flex-direction: column;
}
.choise button {
  margin: 0 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
